:root {
    --bcu-red: #dc3545;
    --bcu-red-light: #f53748;
    --bcu-red-dark: #b62a38;
    --bcu-pink: #e83e8c;
    --bcu-pink-light: #ff40a1;
    --bcu-pink-dark: #ce3e76;
    --bcu-orange: #fd7e14;
    --bcu-orange-light: #ffa300;
    --bcu-orange-dark: #e97514;
    --bcu-yellow: #ffc107;
    --bcu-green: #28a745;
    --bcu-blue: #409eff;
    --bcu-blue-light: #3f93f3;
    --bcu-purple: #6f42c1;
    --bcu-chino: #afafe1;
    --bcu-chino-light: #e1e1fA;
    --bcu-chino-dark: #9494c5;
}

.bcu {
    --theme: lightgrey;
    --theme-2: gray;
    --text: white;
}

.bcu.chino {
    --theme: var(--bcu-chino);
    --theme-2: var(--bcu-chino-light);
    --text: var(--bcu-chino-dark);
}

.bcu.red {
    --theme: var(--bcu-red);
    --theme-2: var(--bcu-red-light);
}

.bcu.pink {
    --theme: var(--bcu-pink);
    --theme-2: var(--bcu-pink-light);
}

.bcu.orange {
    --theme: var(--bcu-orange);
    --theme-2: var(--bcu-orange-light);
}

.bcu.blue {
    --theme: var(--bcu-blue);
    --theme-2: var(--bcu-blue-light);
}

.bcu.btn {
    display: inline-block;
    box-shadow: none;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: var(--theme);
    border: 1px solid var(--theme);
    color: var(--text);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.bcu.btn:hover {
    background: var(--theme-2);
    border: 1px solid var(--theme-2);
    color: var(--text);
}

.bcu.btn.outline {
    background: transparent;
    color: var(--theme);
}

.bcu.btn.outline:hover {
    background: var(--theme);
    color: var(--text);
}

.bcu.btn.round {
    border-radius: 30px;
}

.bcu.btn.rect {
    border-radius: 0;
}

.bcu.ani-bound:hover {
    animation: bound 1.0s linear 0s 1;
}

@keyframes bound {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    10% {
        transform: scale(1.1, 0.9) translate(0%, 1%);
    }
    40% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    50% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    60% {
        transform: scale(0.9, 1.2) translate(0%, -50%);
    }
    75% {
        transform: scale(0.9, 1.2) translate(0%, -5%);
    }
    85% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}
