:root {
    --bcu-red: #dc3545;
    --bcu-red-light: #f04959;
    --bcu-red-dark: #c82131;
    --bcu-pink: #e83e8c;
    --bcu-pink-light: #fc52a0;
    --bcu-pink-dark: #d42a78;
    --bcu-orange: #fd7e14;
    --bcu-orange-light: #ff9228;
    --bcu-orange-dark: #e96a00;
    --bcu-yellow: #ffc107;
    --bcu-yellow-light: #ffd51b;
    --bcu-yellow-dark: #ebad00;
    --bcu-green: #28a745;
    --bcu-green-light: #3cbb59;
    --bcu-green-dark: #149331;
    --bcu-blue: #409eff;
    --bcu-blue-light: #54b2ff;
    --bcu-blue-dark: #2c8aeb;
    --bcu-purple: #6f42c1;
    --bcu-purple-light: #8356d5;
    --bcu-purple-dark: #5b2ead;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
}

.bcu {
    --primary: lightgrey;
    --primary-hover: darkgrey;
    --primary-active: grey;
    --text: white;
}

.bcu.chino {
    --primary: #e1e1fa;
    --primary-hover: #f5f5ff;
    --primary-active: #cdcde6;
    --text: #9494c5;
}

.bcu.red {
    --primary: var(--bcu-red);
    --primary-hover: var(--bcu-red-light);
    --primary-active: var(--bcu-red-dark);
}

.bcu.pink {
    --primary: var(--bcu-pink);
    --primary-hover: var(--bcu-pink-light);
    --primary-active: var(--bcu-pink-dark);
}

.bcu.orange {
    --primary: var(--bcu-orange);
    --primary-hover: var(--bcu-orange-light);
    --primary-active: var(--bcu-orange-dark);
}

.bcu.yellow {
    --primary: var(--bcu-yellow);
    --primary-hover: var(--bcu-yellow-light);
    --primary-active: var(--bcu-yellow-dark);
}

.bcu.green {
    --primary: var(--bcu-green);
    --primary-hover: var(--bcu-green-light);
    --primary-active: var(--bcu-green-dark);
}

.bcu.blue {
    --primary: var(--bcu-blue);
    --primary-hover: var(--bcu-blue-light);
    --primary-active: var(--bcu-blue-dark);
}

.bcu.purple {
    --primary: var(--bcu-purple);
    --primary-hover: var(--bcu-purple-light);
    --primary-active: var(--bcu-purple-dark);
}

.bcu.btn {
    display: inline-block;
    box-shadow: none;
    line-height: 1.25;
    white-space: nowrap;
    cursor: pointer;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--text);
    user-select: none;
    text-align: center;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.bcu.btn:focus,
.bcu.btn:hover {
    background: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    color: var(--text);
}

.bcu.btn:active {
    background: var(--primary-active);
    border: 1px solid var(--primary-active);
}

.bcu.btn.outline {
    background: transparent;
    color: var(--primary);
}

.bcu.btn.outline:focus,
.bcu.btn.outline:hover {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--text);
}

.bcu.btn.outline:active {
    background: var(--primary-active);
    border-color: var(--primary-active);
    color: var(--text);
}

.bcu.btn.round {
    border-radius: 30px;
}

.bcu.btn.rect {
    border-radius: 0;
}

.bcu.btn.sm {
    font-size: 0.8rem;
}

.bcu.btn.md {
    font-size: 1.2rem;
}

.bcu.btn.lg {
    font-size: 1.5rem;
}

.bcu.btn.block {
    display: block;
    width: 100%;
}

.bcu.input {
    display: block;
    width: 100%;
    padding: .3rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.bcu.input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.bcu.checkbox,
.bcu.radio {
    position: relative;
    display: inline-block;
    margin-right: 1.2rem;
}

.bcu.checkbox label,
.bcu.radio label {
    vertical-align: top;
    display: inline-block;
}

.bcu.checkbox label::before,
.bcu.radio label::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.bcu.checkbox label::before {
    border-radius: .25rem;
}

.bcu.radio label::before {
    border-radius: 50%;
}

.bcu.checkbox label::after {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 0.15rem;
    width: 0.2rem;
    height: 0.5rem;
    border: solid var(--text);
    border-width: 0 0.2rem 0.2rem 0;
    box-sizing: initial;
    transform: rotate(45deg);
    opacity: 0;
}

.bcu.radio label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0.3rem;
    top: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    background: var(--text);
    box-sizing: initial;
    opacity: 0;
}

.bcu.checkbox label:hover::before,
.bcu.radio label:hover::before,
.bcu.checkbox input[type=checkbox]:focus ~ label::before,
.bcu.radio input[type=radio]:focus ~ label::before {
    background-color: var(--primary-hover);
}

.bcu.checkbox label:hover::after,
.bcu.radio label:hover::after {
    opacity: 0.5;
}

.bcu.checkbox input[type=checkbox]:checked ~ label::before,
.bcu.radio input[type=radio]:checked ~ label::before {
    border-color: var(--primary);
    background-color: var(--primary);
}

.bcu.checkbox input[type=checkbox]:checked ~ label:hover::before,
.bcu.radio input[type=radio]:checked ~ label:hover::before,
.bcu.checkbox input[type=checkbox]:checked:focus ~ label::before,
.bcu.radio input[type=radio]:checked:focus ~ label::before {
    background-color: var(--primary-hover);
}

.bcu.checkbox input[type=checkbox]:checked ~ label::after,
.bcu.radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}

.bcu.checkbox input[type=checkbox],
.bcu.radio input[type=radio] {
    left: 0;
    z-index: -1;
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0;
}

.bcu.checkbox.outline label:hover::before,
.bcu.radio.outline label:hover::before,
.bcu.checkbox.outline input[type=checkbox]:focus ~ label::before,
.bcu.radio.outline input[type=radio]:focus ~ label::before {
    background: white;
    border-color: var(--primary-hover);
}

.bcu.checkbox.outline label:hover::after,
.bcu.radio.outline label:hover::after {
    opacity: 0.5;
}

.bcu.checkbox.outline input[type=checkbox]:checked ~ label::before,
.bcu.radio.outline input[type=radio]:checked ~ label::before {
    border-color: var(--primary);
    background-color: white;
}

.bcu.checkbox.outline input[type=checkbox]:checked ~ label::after {
    border-color: var(--primary);
    opacity: 1;
}

.bcu.radio.outline input[type=radio]:checked ~ label::after {
    background-color: var(--primary);
    opacity: 1;
}

.bcu.checkbox.outline input[type=checkbox]:checked ~ label:hover::before,
.bcu.checkbox.outline input[type=checkbox]:checked:focus ~ label::before {
    border-color: var(--primary-hover);
}

.bcu.radio.outline input[type=radio]:checked ~ label:hover::before,
.bcu.radio.outline input[type=radio]:checked:focus ~ label::before {
    border-color: var(--primary-hover);
}

.bcu.checkbox.outline input[type=checkbox]:checked ~ label:hover::after {
    border-color: var(--primary-hover);
    opacity: 0.5;
}

.bcu.radio.outline input[type=radio]:checked ~ label:hover::after {
    background-color: var(--primary-hover);
    opacity: 0.5;
}

.bcu.checkbox.round label::before {
    border-radius: 50%;
}

.bcu.checkbox.rect label::before,
.bcu.radio.rect label::before,
.bcu.radio.rect label::after {
    border-radius: 0;
}

.bcu.ani-bound:hover {
    animation: bound 1.0s linear 0s 1;
}

@keyframes bound {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    10% {
        transform: scale(1.1, 0.9) translate(0%, 1%);
    }
    40% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    50% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    60% {
        transform: scale(0.9, 1.2) translate(0%, -50%);
    }
    75% {
        transform: scale(0.9, 1.2) translate(0%, -5%);
    }
    85% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}
