:root {
    --bcu-red: #dc3545;
    --bcu-pink: #e83e8c;
    --bcu-orange: #fd7e14;
    --bcu-yellow: #ffc107;
    --bcu-green: #28a745;
    --bcu-blue: #409eff;
    --bcu-purple: #6f42c1;
    --bcu-smoggy: #6c7c96;
    --bcu-chino: #e1e1fa;
    --bcu-cocoa: #f0be8f;
    --bcu-cherry: #f3aec0;
    --bcu-coffee: #c3867a;
    --bcu-mint: #83c9bb;
    --bcu-taro: #ecb5eb;
    --bcu-strawberry: #f02064;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
}

.bcu {
    --primary: #6c7c96;
    --primary-hover: #8090aa;
    --primary-active: #586882;
    --disabled: #a8b8d2;
    --primary-focus: rgba(108, 124, 150, 0.5);
    --text: white;
}

.bcu.chino {
    --primary: #e1e1fa;
    --primary-hover: #f5f5ff;
    --primary-active: #cdcde6;
    --disabled: #f5f5ff;
    --primary-focus: rgba(148, 148, 197, 0.5);
    --text: #9494c5;
}

.bcu.cocoa {
    --primary: #f0be8f;
    --primary-hover: #ffd2a3;
    --primary-active: #dcaa7b;
    --disabled: #fffacb;
    --primary-focus: rgba(240, 190, 143, 0.5)
}

.bcu.red {
    --primary: #dc3545;
    --primary-hover: #f04959;
    --primary-active: #c82131;
    --disabled: #ff7181;
    --primary-focus: rgba(220, 53, 69, 0.5)
}

.bcu.pink {
    --primary: #e83e8c;
    --primary-hover: #fc52a0;
    --primary-active: #d42a78;
    --disabled: #ff7ac8;
    --primary-focus: rgba(232, 62, 140, 0.5)
}

.bcu.orange {
    --primary: #fd7e14;
    --primary-hover: #ff9228;
    --primary-active: #e96a00;
    --disabled: #ffba50;
    --primary-focus: rgba(253, 126, 20, 0.5)
}

.bcu.yellow {
    --primary: #ffc107;
    --primary-hover: #ffd51b;
    --primary-active: #ebad00;
    --disabled: #fffd43;
    --primary-focus: rgba(255, 193, 7, 0.5)
}

.bcu.green {
    --primary: #28a745;
    --primary-hover: #3cbb59;
    --primary-active: #149331;
    --disabled: #64e381;
    --primary-focus: rgba(40, 167, 69, 0.5)
}

.bcu.blue {
    --primary: #409eff;
    --primary-hover: #54b2ff;
    --primary-active: #2c8aeb;
    --disabled: #7cdaff;
    --primary-focus: rgba(64, 158, 255, 0.5)
}

.bcu.purple {
    --primary: #6f42c1;
    --primary-hover: #8356d5;
    --primary-active: #5b2ead;
    --disabled: #ab7efd;
    --primary-focus: rgba(111, 66, 193, 0.5)
}

.bcu.cherry {
    --primary: #f3aec0;
    --primary-hover: #ffc2d4;
    --primary-active: #df9aac;
    --disabled: #ffeafc;
    --primary-focus: rgba(243, 174, 192, 0.5)
}

.bcu.coffee {
    --primary: #c3867a;
    --primary-hover: #d79a8e;
    --primary-active: #af7266;
    --disabled: #ffc2b6;
    --primary-focus: rgba(195, 134, 122, 0.5)
}

.bcu.mint {
    --primary: #83c9bb;
    --primary-hover: #97ddcf;
    --primary-active: #6fb5a7;
    --disabled: #bffff7;
    --primary-focus: rgba(131, 201, 187, 0.5)
}

.bcu.taro {
    --primary: #ecb5eb;
    --primary-hover: #ffc9ff;
    --primary-active: #d8a1d7;
    --disabled: #fff1ff;
    --primary-focus: rgba(236, 181, 235, 0.5)
}

.bcu.strawberry {
    --primary: #f02064;
    --primary-hover: #ff3478;
    --primary-active: #dc0c50;
    --disabled: #ff5ca0;
    --primary-focus: rgba(240, 32, 100, 0.5)
}

.bcu.chino.outline {
    --primary: #9494c5;
    --primary-hover: #a8a8d9;
    --primary-active: #8080b1;
    --disabled: #a8a8d9;
    --text: #e1e1fa;
}

.bcu.btn {
    display: inline-block;
    box-shadow: none;
    line-height: 1.25;
    white-space: nowrap;
    cursor: pointer;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--text);
    user-select: none;
    text-align: center;
    outline: none;
    margin: 0;
    transition: all .2s ease;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.bcu.btn:focus {
    box-shadow: 0 0 0 2px var(--primary-focus);
}

.bcu.btn:hover {
    background: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    color: var(--text);
}

.bcu.btn:active {
    background: var(--primary-active);
    border: 1px solid var(--primary-active);
}

.bcu.btn:disabled,
.bcu.btn:disabled:hover {
    background: var(--disabled);
    border-color: var(--disabled);
    cursor: not-allowed;
}

.bcu.btn.outline {
    background: transparent;
    color: var(--primary);
}

.bcu.btn.outline:hover {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--text);
}

.bcu.btn.outline:active {
    background: var(--primary-active);
    border-color: var(--primary-active);
    color: var(--text);
}

.bcu.btn.outline:disabled,
.bcu.btn.outline:disabled:hover {
    background: transparent;
    color: var(--disabled);
    border-color: var(--disabled);
    cursor: not-allowed;
}

.bcu.btn.round {
    border-radius: 3rem;
}

.bcu.btn.rect {
    border-radius: 0;
}

.bcu.btn.sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.6rem;
}

.bcu.btn.md {
    font-size: 1.2rem;
    padding: 0.4rem 0.7rem;
}

.bcu.btn.lg {
    font-size: 1.5rem;
    padding: 0.5rem 0.9rem;
}

.bcu.btn.block {
    display: block;
    width: 100%;
}

.bcu.input {
    display: block;
    width: 100%;
    padding: .3rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border: 1px solid var(--primary);
    border-radius: .25rem;
}

.bcu.input:focus:not(:disabled) {
    color: #495057;
    background-color: white;
    border-color: var(--primary-hover);
    outline: 0;
    box-shadow: 0 0 0 2px var(--primary-focus);
}

.bcu.input.round {
    border-radius: 3rem;
}

.bcu.input.rect {
    border-radius: 0;
}

.bcu.checkbox,
.bcu.radio {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin-right: 1.2rem;
}

.bcu.checkbox label,
.bcu.radio label {
    vertical-align: middle;
    display: inline-block;
    padding-left: 1.6em;
}

.bcu.checkbox input[type=checkbox]:disabled ~ label,
.bcu.radio input[type=checkbox]:disabled ~ label {
    cursor: not-allowed;
}

.bcu.checkbox label::before,
.bcu.radio label::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -0.625em;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    background-color: white;
    border: #adb5bd solid 1px;
}

.bcu.checkbox label::before {
    border-radius: .25em;
}

.bcu.radio label::before {
    border-radius: 100%;
}

.bcu.checkbox label::after {
    content: '';
    position: absolute;
    left: 0.45em;
    top: 50%;
    margin-top: -0.4em;
    width: 0.2em;
    height: 0.5em;
    border: solid var(--text);
    border-width: 0 0.2em 0.2em 0;
    box-sizing: content-box;
    opacity: 0;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.bcu.radio label::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 0.25em;
    top: 50%;
    margin-top: -0.375em;
    width: 0.75em;
    height: 0.75em;
    background: var(--text);
    box-sizing: content-box;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease;
}

.bcu.checkbox input[type=checkbox]:not(:disabled) ~ label:hover::before,
.bcu.radio input[type=radio]:not(:disabled) ~ label:hover::before {
    background-color: var(--primary-hover);
}

.bcu.checkbox input[type=checkbox]:focus ~ label::before,
.bcu.radio input[type=radio]:focus ~ label::before {
    box-shadow: 0 0 0 2px var(--primary-focus);
}

.bcu.checkbox input[type=checkbox]:checked ~ label::before,
.bcu.radio input[type=radio]:checked ~ label::before {
    border-color: var(--primary);
    background-color: var(--primary);
}

.bcu.checkbox input[type=checkbox]:checked:not(:disabled) ~ label:hover::before,
.bcu.radio input[type=radio]:checked:not(:disabled) ~ label:hover::before {
    background-color: var(--primary-hover);
}

.bcu.checkbox input[type=checkbox]:checked:disabled ~ label::before,
.bcu.radio input[type=radio]:checked:disabled ~ label::before {
    border-color: var(--disabled);
    background-color: var(--disabled);
}

.bcu.checkbox input[type=checkbox]:checked ~ label::after,
.bcu.radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}

.bcu.radio input[type=radio]:checked ~ label::after {
    transform: scale(1);
}

.bcu.checkbox input[type=checkbox],
.bcu.radio input[type=radio] {
    left: 0;
    z-index: -1;
    width: 1.2em;
    height: 1.2em;
    opacity: 0;
    position: absolute;
}

.bcu.checkbox.outline input[type=checkbox]:not(:disabled) ~ label:hover::before,
.bcu.radio.outline input[type=radio]:not(:disabled) ~ label:hover::before {
    background: white;
    border-color: var(--primary-hover);
}

.bcu.checkbox.outline input[type=checkbox]:not(:disabled) ~ label:hover::after,
.bcu.radio.outline input[type=radio]:not(:disabled) ~ label:hover::after {
    opacity: 0.5;
}

.bcu.checkbox.outline input[type=checkbox]:checked:not(:disabled) ~ label::before,
.bcu.radio.outline input[type=radio]:checked:not(:disabled) ~ label::before {
    border-color: var(--primary);
    background-color: white;
}

.bcu.checkbox.outline input[type=checkbox]:disabled ~ label::before,
.bcu.radio.outline input[type=radio]:disabled ~ label::before {
    background: white;
    border-color: #adb5bd;
}

.bcu.checkbox.outline input[type=checkbox]:checked ~ label::after {
    border-color: var(--primary);
    opacity: 1;
}

.bcu.radio.outline input[type=radio]:checked ~ label::after {
    background-color: var(--primary);
    opacity: 1;
}

.bcu.checkbox.outline input[type=checkbox]:checked:not(:disabled) ~ label:hover::before {
    border-color: var(--primary-hover);
}

.bcu.radio.outline input[type=radio]:checked:not(:disabled) ~ label:hover::before {
    border-color: var(--primary-hover);
}

.bcu.checkbox.outline input[type=checkbox]:checked:not(:disabled) ~ label:hover::after {
    border-color: var(--primary-hover);
    opacity: 0.5;
}

.bcu.radio.outline input[type=radio]:checked:not(:disabled) ~ label:hover::after {
    background-color: var(--primary-hover);
    opacity: 0.5;
}

.bcu.checkbox.round label::before {
    border-radius: 50%;
}

.bcu.checkbox.rect label::before,
.bcu.radio.rect label::before,
.bcu.radio.rect label::after {
    border-radius: 0;
}

.bcu.radio.rounded label::before {
    border-radius: .25em;
}

.bcu.radio.rounded label::after {
    border-radius: .15em;
}

.bcu.switch {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin-right: 1.2rem;
}

.bcu.switch input[type=checkbox] {
    left: 0;
    z-index: -1;
    width: 1.2em;
    height: 1.2em;
    opacity: 0;
    position: absolute;
}

.bcu.switch label {
    vertical-align: middle;
    display: inline-block;
    padding-left: 3em;
    transition: all 0.1s ease-in;
}

.bcu.switch label:before {
    content: '';
    background: #fafbfa;
    position: absolute;
    top: 50%;
    margin-top: -0.7em;
    transition: box-shadow 0.1s ease-in, background 0.2s ease;
    left: 0;
    width: 2.6em;
    height: 1.4em;
    border-radius: 1.2em;
    box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4);
}

.bcu.switch label:after {
    content: '';
    position: absolute;
    background: white;
    top: 50%;
    margin-top: -0.6em;
    left: 0.1em;
    width: 1.2em;
    transition: all 0.2s ease-in;
    height: 1.2em;
    border-radius: 2em;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
}

.bcu.switch input[type=checkbox]:focus ~ label::before {
    box-shadow: 0 0 0 2px var(--primary-focus);
}

.bcu.switch input[type=checkbox]:active:not(:disabled) ~ label:after {
    width: 1.3em;
    height: 1.1em;
    left: 0.2em;
    margin-top: -0.55em;
}

.bcu.switch input[type=checkbox]:checked:not(:disabled) ~ label:before {
    background: var(--primary);
}

.bcu.switch input[type=checkbox]:checked:disabled ~ label:before {
    background: var(--disabled);
}

.bcu.switch input[type=checkbox]:checked ~ label:after {
    left: 1.3em;
}

.bcu.switch input[type=checkbox]:checked:active:not(:disabled) ~ label:after {
    width: 1.3em;
    height: 1.1em;
    left: 1.1em;
    margin-top: -0.55em;
    background: #dcdddc;
}

.bcu.switch.rect label::before,
.bcu.switch.rect label::after {
    border-radius: 0;
}

.bcu.switch.rounded label::before,
.bcu.switch.rounded label::after {
    border-radius: .25em;
}

.bcu.switch.slim label:before {
    margin-top: -0.2em;
    height: 0.4em;
    left: 0.3em;
    width: 2.0em;
}

.bcu.switch.slim label:after {
    left: 0;
}

.bcu.switch.slim input[type=checkbox]:checked ~ label:after {
    left: 1.5em;
}

.bcu.switch.slim input[type=checkbox]:checked:not(:disabled) ~ label:before {
    background: var(--primary-hover);
}

.bcu.switch.slim input[type=checkbox]:focus ~ label:after {
    box-shadow: 0 0 0 2px var(--primary-focus);
}

.bcu.switch.slim input[type=checkbox]:checked ~ label:after {
    background: var(--primary);
}

.bcu.switch.slim input[type=checkbox]:checked:active:not(:disabled) ~ label:after {
    background: var(--primary-active);
}

.bcu.ani-bound:hover {
    animation: bound 1.0s linear 0s 1;
}

@keyframes bound {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    10% {
        transform: scale(1.1, 0.9) translate(0%, 1%);
    }
    40% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    50% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    60% {
        transform: scale(0.9, 1.2) translate(0%, -50%);
    }
    75% {
        transform: scale(0.9, 1.2) translate(0%, -5%);
    }
    85% {
        transform: scale(1.2, 0.8) translate(0%, 4%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}
